body{
    display: flex;
    flex-direction: column;

}

.product-container{
    width: 1000px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(8, 1fr);

}

.product-item {
    width: 250px;
    height: 300px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.table{
    border: 1px solid #eee;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}
.table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;

}
.table td{
    padding: 5px 10px;
    border: 1px solid #eee;
    text-align: left;
}
.table tbody tr:nth-child(odd){
    background: #fff;
}
.table tbody tr:nth-child(even){
    background: #F7F7F7;
}
