body{
    display: flex;
    flex-direction: column;

}

.product-container{
    width: 1000px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(8, 1fr);

}

.product-item {
    width: 250px;
    height: 300px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: grid;
    justify-items: center;
    align-items: center;
}